[Unit]
Description=Proton Mail Bridge (CLI headless)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# Petit délai pour laisser le réseau et l'environnement user se stabiliser
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/protonmail-bridge
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
